.jumbotron{
    background-image: url(../img/illustration-main.jpg);
    background-size: 600px;
    .jumbo-text{
        width: 40%;
        h1{
        color: $brand_primary;
        font-size: 4rem;
        line-height: 6rem;
        margin-top: 3rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

}

