nav {
    margin-top: 1rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            display: flex;
            align-items: center;
            height: 100%;
            &>a{
                font-size: 1.5rem;
                color: $brand_primary;
                text-decoration: none;
            }
            img{
                margin: 0 0.8rem;
            }
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li{
                display: inline-block;
                padding: 0 10px;
                font-weight: bold;
                a{
                    text-decoration: none;
                }
            }
            li:not(:last-child){
                a{
                    color: $brand_primary;
                }
            }
        }
    }
}