.stats{
    width: 100%;
    padding: 3rem 0;
    color: $brand_primary;
    h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    a{
        text-decoration: none;
        color: $blue_buttons;
    }
    .left{
        display: flex;
        img{
            width: 50%;
        }
        .left_txt{
            width: 20%;
        }
    }
    .right{
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
        img{
            width: 50%;
        }
        .right_txt{
            width: 20%;
        }
    }
    .left_txt, .right_txt{
        h2{
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
        p{
            margin-bottom: 4rem;
        }
    }
    .container_small{
        margin: 0 auto;
        width: 35%;
        img{
            height: 300px;
        }
        .communication, .left{
            display: flex;
            justify-content: flex-end;
        }
        .right{
            display: flex; 
        }
    }
}